body {
    background-image: url('/src/svg/background.svg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%; 
  background-attachment: fixed; 
    background-color: #1a1a1a;
    color:white;
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    color: white;
    text-align: center;
}

.question {
    color: white;
    text-align: center;
}

.info {
    color: white;
    text-align: center;
}

.input {
    margin-top: 1rem;
    background-color: #1a1a1a;
    border: gray;
    border-style: solid;
    color:  white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button {
    margin-top: 1rem;
    background-color: #808080;
    border: none;
    color:  #1a1a1a;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button2 {
    margin-top: 1rem;
    background-color: white;
    border: none;
    color:  #1a1a1a;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button_back {
margin-top: 1rem;
background-color: #808080;
border: none;
color:  #1a1a1a;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

.button:disabled {
    background-color: #ccc; /* Grau für inaktiven Zustand */
    color: #666;
    cursor: not-allowed;
}

.button:enabled {
    background-color: #fff; /* Weiß für aktiven Zustand */
    color: #000;
    cursor: pointer;
}



.nameInput {
    position: absolute;
    top: 180px; 
    left: 154px; 
    font-family: 'Bevan', sans-serif;
    font-size: 48px;
    color: #8CC63F;
    background: none;
    border: none;

    outline: none;
    width: 200px;
}


.batchbox {
    display: flex;
  justify-content: center;
padding: 1rem;
}

.boxbackground {
    background-color: white;
    border-radius: 3rem;
}
.batch {
    font-size: 3rem;
    color: #89c23e;
    border: 10px #89c23e;
    border-style: solid;
    border-radius: 0.8em;

    width: min-content;
    background: none;
    padding: 0.3em 3em 0.3em 0.5em;
    position: relative;
    font-weight: bold;
    font-family: "Bevan", serif;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    box-shadow:0px 0px 0 #89c23e,
                 1px 1px 0 #466320,
                 2px 2px 0 #466320,
                 3px 3px 0 #466320,
                 4px 4px 0 #466320,
                 5px 5px 0 #466320,
                 6px 6px 0 #466320,
                 7px 7px 0 #466320,
                 8px 8px 0 #466320,
                 9px 9px 0 #466320,
                 10px 10px  0 #466320,
                 11px 11px 10px rgba(0,0,0,0.6),
                 11px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
    text-shadow: 0px 0px 0 #466320,
                 1px 1px 0 #466320,
                 2px 2px 0 #466320,
                 3px 3px 0 #466320,
                 4px 4px 0 #466320,
                 5px 5px 0 #466320,
                 6px 6px 0 #466320,
                 7px 7px 0 #466320,
                 8px 8px 0 #466320,
                 9px 9px 0 #466320,
                 10px 10px  0 #466320,
                 11px 11px 10px rgba(0,0,0,0.6),
                 11px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
  }
  
  .batch::after {
    display: block;
    content: "";
    background-color: #1a1a1a;
    position: absolute;
    right: 1em;
    top: 33%;
    bottom: 0;
    width: 1em;
    height: 1em;
    border-radius: 100%;
  }
  

  .print-popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
    z-index: 1; 
}

.print-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #1a1a1a;
    margin: 10% auto; /* Zentriert das Popup */
    padding: 20px;
    width: 80%;
    max-width: 600px; /* Max. Breite des Popups */
}

  .image {
    width: 4rem;
    max-width: 400px;
    height: auto;
    margin-top: 20px;
  }