body {
    background-image: url('/src/svg/background.svg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%; 
  background-attachment: fixed; 
    background-color: #1a1a1a;
    color:white;
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    color: white;
    text-align: center;
}

.question {
    color: white;
    text-align: center;
}

.info {
    color: white;
    text-align: center;
}

.name {
    margin: 2rem;
}

.demo {
    text-align: center;
    font-size: 4rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; 
}

.text-block {
    position: relative;
    width: 300px; 
    padding: 10px; 
    border: 6px solid white; 
    border-radius: 20px; 
    background-color: #8BC34A; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-block input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: white; 
    font-size: 20px; 
    text-align: center; 
}

.text-block input::placeholder {
    color: white; /* Farbe des Platzhaltertexts */
    opacity: 1; /* Platzhaltertext nicht ausblenden */
}



.form {
    text-align: center;
}

.input {
    margin-top: 1rem;
    background-color: #1a1a1a;
    border: gray;
    border-style: solid;
    color:  white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button {
    margin-top: 1rem;
    background-color: #808080;
    border: none;
    color:  #1a1a1a;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.nameInput {
    position: absolute;
    top: 180px; 
    left: 154px; 
    font-family: 'Bevan', sans-serif;
    font-size: 48px;
    color: #8CC63F;
    background: none;
    border: none;

    outline: none;
    width: 200px;
}

.svgContainer {
    position: relative;
    height: 0px; 
}

.batchbox {
    display: flex;
  justify-content: center;
padding: 1rem;
}

.boxbackground {
    background-color: white;
    border-radius: 3rem;
}
.batch {
    font-size: 3rem;
    color: #89c23e;
    border: 10px #89c23e;
    border-style: solid;
    border-radius: 0.8em;

    width: min-content;
    background: none;
    padding: 0.3em 3em 0.3em 0.5em;
    position: relative;
    font-weight: bold;
    font-family: "Bevan", serif;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    box-shadow:0px 0px 0 #89c23e,
                 1px 1px 0 #466320,
                 2px 2px 0 #466320,
                 3px 3px 0 #466320,
                 4px 4px 0 #466320,
                 5px 5px 0 #466320,
                 6px 6px 0 #466320,
                 7px 7px 0 #466320,
                 8px 8px 0 #466320,
                 9px 9px 0 #466320,
                 10px 10px  0 #466320,
                 11px 11px 10px rgba(0,0,0,0.6),
                 11px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
    text-shadow: 0px 0px 0 #466320,
                 1px 1px 0 #466320,
                 2px 2px 0 #466320,
                 3px 3px 0 #466320,
                 4px 4px 0 #466320,
                 5px 5px 0 #466320,
                 6px 6px 0 #466320,
                 7px 7px 0 #466320,
                 8px 8px 0 #466320,
                 9px 9px 0 #466320,
                 10px 10px  0 #466320,
                 11px 11px 10px rgba(0,0,0,0.6),
                 11px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
  }
  
  .batch::after {
    display: block;
    content: "";
    background-color: black;
    position: absolute;
    right: 1em;
    top: 33%;
    bottom: 0;
    width: 1em;
    height: 1em;
    border-radius: 100%;
  }
  
  